/*
 * common styles
 */
html {
	font-size: 10px;
}
* {
	box-sizing: border-box;
}
@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
} 
@font-face {
	font-family: "Open Sans - Semibold";
	src: url(../fonts/OpenSans-SemiBold.ttf);
	font-style: normal;
	font-weight: 600;
} 
body {
	width: 100%;
	background-color: ;
	font-family: "Open Sans";
	font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
} 
h1 {
	color: ;
	font-family: "Open Sans - Semibold";
	font-size: ;
	font-weight: 600;
	line-height: ;
	margin: 0;
}
.main-wrapper {
	width: 100%;
	margin: 0 auto;	
}
.container {
	width: 1080px;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	margin: 0 auto;	
    position: relative;
}
/*
 * header styles
 */ 
.header {
	width: 100%;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
} 
.header__wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	padding-top: 1.6rem;
	padding-bottom: 2.9rem;
}
.header__logo-link {
	display: block;
	width: 160px;
	height: 43px;
}
.header__menu {
	height: 100%;
	position: relative;
}
.header__menu-list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-right: 4rem;
	height: 100%;	
}
.header__menu-item {
	position: relative;
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
}
.header__item-link {
	text-decoration: none;
	position: relative;
	color: #929292;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 24px;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	transition: border-bottom 0.5s ease, color 0.5s ease;
}
.header__item-link:hover, .header__item-link:active {
	color: #5e5e5e;
	border-bottom: 0.2rem solid #c3512f;
	z-index: 1;
}
/*
 * content styles
 */
/* layer-slider */
.review-slider {
	position: relative;	
}
.layer-slider__wrap {
	position: relative;	
}
.layer-slider__background.active {
	display: block;	
}
.layer-slider__background {
	position: absolute;
	background: url(../images/Picture_for_slider.png) center center / cover no-repeat;
	height: 83.6rem;
	width: 100%;
	display: none;
}
.layer-slider__container {
	position: absolute;
}
.review-slider__block-view {
	position: relative;
	height: 83.6rem;
	background: transparent;
}
.review-slider__img {
	max-width: 100%;
	height: auto;
} 
.review-slider__block-control {
	position: absolute;
	width: 100%;
}
.review-slider__control-dots {
	position: absolute;
	width: 100%;
	bottom: 1.6rem;
	text-align: center;
}
.control-dots__item {
	display: inline-block;
	width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
	background-color: #000000;
	opacity: 0.65;
}
.control-dots__item.active {
    background-color: #ffffff;
}
.review-slider__control-arrows {
	position: absolute;
    width: 100%;
    bottom: 38.8rem;
}
.control-arrows__item-right {
    right: 0;
    margin-right: -8.9rem;
    padding: 2.9rem;
	position: absolute;
	background: url(../images/chevron-thin-right.png) #b3b3b3 center center no-repeat;
    width: 12px;
    height: 22px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.control-arrows__item-left {
    left: 0;
    margin-left: -8.9rem;
    padding: 2.9rem;
	position: absolute;
	background: url(../images/chevron-thin-right.png) #b3b3b3 center center no-repeat;
    width: 12px;
    height: 22px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    transform: rotate(180deg);
}
/* sub-slider */ 
.sub-slider {
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
	padding-top: 7.6rem;
	padding-bottom: 15.2rem;
}
.sub-slider__title {
	color: #444444;
	font-family: "Open Sans - Semibold";
	font-size: 27px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}
.sub-slider__title-word {
	letter-spacing: 1.62px;
}
.sub-slaider__sub-title {
	color: #888888;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	display: block;
	margin-top: 9rem;
	margin-bottom: 8.3rem;
	padding-right: 15.5rem;
	padding-left: 15.5rem;
}
.sub-slaider__sub-title-accent {
	color: #c3512f;
	font-family: "Open Sans - Semibold";
	font-weight: 600;
}
.sub-slaider__list {
	display: flex;
	flex-wrap: wrap;
}
.sub-slaider__list-item {
	flex-basis: 25%;
}
.sub-slaider__block {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
	background-color: #ffffff;
	position: relative;
}
.sub-slaider__block-top {
	overflow: hidden;
}
.sub-slaider__block-top-img {
	max-width: 100%;
}
.sub-slaider__block-bottom {
	padding: 1.3rem 1.6rem 1.2rem 1.6rem;
	position: relative;
}
.sub-slaider__block-bottom:before {
	content: "";
	position: absolute;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    bottom: calc(100% - 0.5rem);
    left: calc(50% - 1.5rem);
    z-index: 2;
}
.sub-slaider__block-title {
	color: #666666;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
}
/* send-us-mail */ 
.send-us-mail {
	padding-top: 7.3rem;
	padding-bottom: 15.2rem;
}
.send-us-mail__title {
	color: #222222;
	font-family: "Open Sans - Semibold";
	font-size: 19px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 2.6rem;
}
.send-us-mail__form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.page-contacts__form-item:nth-child(1), .page-contacts__form-item:nth-child(2) {
	flex-basis: 50%;
}
.page-contacts__form-item:nth-child(1) {
	padding-right: 0.6rem;
}
.page-contacts__form-item:nth-child(2) {
	padding-left: 0.6rem;
}
.page-contacts__form-item {
	flex-basis: 100%;
	margin-bottom: 2.6rem;
}
.form-control__error {
	
}
.form-control__field {
	border-color: #d99;
}
.form-control__field-name {
	color: #666666;
	font-family: "Open Sans - Semibold";
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	display: block;
}
.form-control__field-necessary {
	color: #c15223;
}
.form-control__field {
    width: 100%;
	border: 1px solid #e1e1e1;
	border-radius: .25rem;
	background: transparent;
    font-size: 1.9rem;
    line-height: 1.8;
    padding: .25rem .75rem;
}
.page-contacts__textarea {
	height: 17.9rem;
}
.page-contacts__form-button {
	cursor: pointer;
	color: #fcfcfc;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	background-color: #c3512f;
    border: 1px solid transparent;
    padding: 1.3rem 5.1rem;
    border-radius: .2rem;
}
.page-contacts__form-button:hover {
	background-color: rgba(195, 81, 47, 0.9);
}
.page-contacts__form-button:active, .page-contacts__form-button:focus {
	background-color: rgba(195, 81, 47, 0.6);	
} 
/* about-us */
.about-us {
	background-color: #e4e4e4;
	padding-top: 24rem;
	padding-bottom: 24rem;	
} 
.about-us__wrap {
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
}
.about-us__work-area {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 7.7rem;
	padding-bottom: 6rem;
}
.about-us__info {
	flex-basis: 50%;
	text-align: right;
	padding-right: 2.5rem;
}
.about-us__advantage {
	flex-basis: 50%;
	text-align: left;
	padding-left: 2.5rem;
}
.about-us__title {
	color: #444444;
	font-family: "Open Sans - Semibold";
	font-size: 27px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.62px;
	padding-right: 1.5rem;
}
.about-us__range {
	margin-top: 3.9rem;
	margin-bottom: 4rem;
	padding-right: 1.5rem;	
}
/* ползунок */
/* Chrome */
input[type="range"]/* ::-webkit-slider-runnable-track */ {
	-webkit-appearance: none;
	width: 156px;
	height: 1px;
	border: 1px solid transparent;
	background: #e1e1e1;
	cursor: pointer;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #fcfcfc;
	border: 2px solid #e1e1e1;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 0px;
}
/* Opera */
input[type="range"]::-o-slider-runnable-track {
	-o-appearance: none;
	width: 156px;
	height: 1px;
	border: 1px solid transparent;
	background-color: #e1e1e1;
	cursor: pointer;
	outline: none;
}

input[type="range"]::-o-slider-thumb {
	-o-appearance: none;
	background-color: #fcfcfc;
	border: 2px solid #e1e1e1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -5px;
}
/* Firefox */
input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	width: 156px;
	height: 1px;
	border: 1px solid transparent;
	background-color: #e1e1e1;
	cursor: pointer;
	outline: none;
}

input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	background-color: #fcfcfc;
	border: 2px solid #e1e1e1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -5px;
}
/* Internet Explorer */
input[type="range"]::-ms-track {
	-ms-appearance: none;
	width: 156px;
	height: 1px;
	border: 1px solid transparent;
	background-color: #e1e1e1;
	cursor: pointer;
	outline: none;
}
input[type="range"]::-ms-fill-lower {
	-ms-appearance: none;
	border: 1px solid transparent;
	background-color: #e1e1e1;
	cursor: pointer;
	outline: none;
}
input[type="range"]::-ms-fill-upper {
	-ms-appearance: none;
	border: 1px solid transparent;
	background-color: #e1e1e1;
	cursor: pointer;
	outline: none;
}

input[type="range"]::-ms-thumb {
	-ms-appearance: none;
	background-color: #fcfcfc;
	border: 2px solid #e1e1e1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -5px;
}
.about-us__text {
	padding-right: 1.5rem;		
}
.about-us__text-par {
	margin: 0 0 1.9rem 0;
	color: #888888;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
}
.about-us__text-accent {
	color: #c3512f;
	font-family: "Open Sans - Semibold";
	font-weight: 600;
}
.about-us__advantage-item {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 5.1rem;
}
.about-us__advantage-icon {

}
.about-us__advantage-text {
padding-left: 3.3rem;
}
.about-us__icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 6rem;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	background-color: #d0d0d0;
}
.about-us__advantage-img {
	max-width: 100%;
}
.about-us__advantage-title {
	color: #444444;
	font-family: "Open Sans - Semibold";
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	margin-bottom: 1.3rem;
}
.about-us__text {
	color: #a0a0a0;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
}
/* team-members */ 
.team-members {
	padding-top: 5.1rem;
	padding-bottom: 5rem;
}
.team-members__wrap {
	display: flex;
	flex-wrap: nowrap;
	margin-left: -2.5rem;
	margin-right: -2.5rem;
}
.team-members__column {
	flex-basis: 50%;
	padding-right: 2.5rem;	
	padding-left: 2.5rem;	 
}
.team-members__block-image {
	margin-bottom: 1rem;
}
.team-members__img {
	width: 100%;
}
.team-members__block-title {
	color: #222222;
	font-family: "Open Sans - Semibold";
	font-size: 19px;
	font-weight: 400;
	line-height: 21px;
}
.team-members__block-sub-title {
	color: #919191;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 0.9rem;
	margin-bottom: 2.2rem;
}
.team-members__block-text {
	color: #666666;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 6.4rem;
}
.team-members__contact-block {
	padding: 2.1rem 3.1rem 2.2rem 2.9rem;
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
}
.team-members__contact-wrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.team-members__contact-text {
	color: #666666;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
.team-members__contact-button {
	position: relative;
}
.contact-button {
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.37);
	color: #713928;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	border: 1px solid #c3512f;
	padding:  1.3rem 4.2rem 1.4rem 6rem;
	background: linear-gradient(to top, #c45331, #cd6e52);
	cursor: pointer;
}
.contact-button:after {
	content: " ";
    background: url(../images/mail.png) center center no-repeat;
    position: absolute;
    width: 1.3rem;
    height: 0.8rem;
    left: 2.7rem;
    top: 2.2rem;
}
.contact-button:active, .contact-button:focus {
	background: linear-gradient(to top, #cd6e52, #c45331);
}
/*
 * footer styles
 */ 
.footer__main-block {
	padding-top: 5.9rem;
	padding-bottom: 6.5rem;
	background-color: #222222;
} 
.footer__wrap {
	display: flex;
	flex-wrap: nowrap;
	margin-right: -2.5rem;
	margin-left: -2.5rem;
}
.footer__column {
	flex-basis: 25%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.footer__block-title {
	color: #919191;
	font-family: "Open Sans - Semibold";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.84px;
	margin-bottom: 1.8rem;
	padding-left: 1.6rem;	
}
.footer__block-description {
	color: #dddddd;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	padding-left: 1.6rem;
}
.footer__block-accent {
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-weight: 600;
}
.footer__block-item {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 1.7rem;	
}
.footer__block-image {
	display: block;

}
.footer__block-img {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0.4rem;
	border: 1px solid #444444;
	background-color: #333333;
}
.footer__block-description-title {
	display: block;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 0.9rem;
}
.footer__block-description-meta {
	color: #919191;
	font-family: "Open Sans";
	font-size: 10px;
	font-weight: 400;
	line-height: 18px;
}
.footer__copyright {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border: 1px solid #444444;
	background: linear-gradient(to top, #333333, #666666);
}
.footer__copyright-block {
	padding-left: 1.4rem;
	color: #fffefe;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	line-height: 21px;
}
/*
 * @media
 */ 
@media (max-width: 576px) {
	.container {
	    max-width: 540px;
	    width: 100%;
	}
	/* header */ 
	.header__menu {
		display: block;
	}	
	.header__menu-list {
		flex-direction: column;
		padding-right: 0;
	}
	.header__menu-item {
		padding-top: 0.5rem;
    	padding-bottom: 0.5rem;
	}
	.header__item-link {
		padding-left: 1.8rem;
		padding-top: 0rem;
    	padding-bottom: 0rem;
    	margin-left: 0;
	}
	.header__item-link:hover, .header__item-link:active {
		color: #5e5e5e;
	    border-left: 0.2rem solid #c3512f;
	    padding-left: 1.6rem;
	    border-bottom: 0;
	    z-index: 1;
	}
	/* layer-slider */ 
	.control-arrows__item-left {
		margin-left: 0rem;
	}
	.control-arrows__item-right {
		margin-right: 0rem;
	}
	/* sub-slider */ 
	.sub-slaider__sub-title {
	    padding-right: 7rem;
    	padding-left: 7rem;
	}
	.sub-slaider__list-item {
	    flex-basis: 50%;
	}	
	/* send-us-mail */
	.page-contacts__form-item:nth-child(1) {
	    flex-basis: 100%;
	    padding-right: 0rem;
	} 
	.page-contacts__form-item:nth-child(2) {
		flex-basis: 100%;
	    padding-left: 0rem;
	}	 
	/* about-us */ 
	.about-us__work-area {
		flex-wrap: wrap;
	}
	.about-us__info {
		flex-basis: 100%;
	    text-align: right;
	    padding-right: 0rem;
	}
	.about-us__advantage {
		flex-basis: 100%;
	    text-align: left;
	    padding-left: 0rem;
	}
	.about-us__text {
		margin-bottom: 5.1rem;
	}	
	/* team-members */ 
	.team-members__wrap {
		flex-wrap: wrap;
	}	
	.team-members__column {
	    flex-basis: 100%;
	}	
	.team-members__contact-block {
		padding: 2.1rem 2.1rem 2.2rem 2.1rem;
	}	
	.contact-button {
		padding: 1.3rem 4.2rem 1.4rem 6rem;
		margin-top: 2rem;
		margin-left: calc(50% - 8.75rem);
	}
	.contact-button:after {
		left: 2.7rem;
    	top: 2.2rem;
	}
	.team-members__contact-wrap {
		flex-wrap: wrap;
	}
	.team-members__contact-text {
		flex-basis: 100%;
	}
	.team-members__contact-button {
		flex-basis: 100%;
	}
	/* footer */ 
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__column {
		flex-basis: 100%;
	}
	.footer__main-block {
	    padding-bottom: 1.5rem;
	}
	.footer__column {
		padding-bottom: 5rem;
	}
	.footer__column:nth-child(3), .footer__column:nth-child(4) {
		flex-basis: 50%;
	}
}
@media (min-width: 576px) {
	.container {
	    max-width: 540px;
	    width: 100%;
	}
	/* header */ 
	.header__menu {
		display: block;
	}
	.header__menu-list {
		flex-direction: row;
		padding-right: 0;
	}
	.header__item-link {
	    margin-left: 1.8rem;
	}	
	.header__menu-item {
		padding-top: 3.2rem;
    	padding-bottom: 3.2rem;
	}
	.header__item-link {
		padding-top: 3.5rem;
    	padding-bottom: 3.5rem;
	}
	.header__item-link:hover, .header__item-link:active {
		color: #5e5e5e;
	    border-bottom: 0.2rem solid #c3512f;
	    border-left: 0;
	    z-index: 1;
	}
	/* layer-slider */ 
	.control-arrows__item-left {
		margin-left: -4rem;
	}
	.control-arrows__item-right {
		margin-right: -4rem;
	}
	/* sub-slider */ 
	.sub-slaider__sub-title {
	    padding-right: 7rem;
    	padding-left: 7rem;
	}
	.sub-slaider__list-item {
	    flex-basis: 50%;
	}	
	/* send-us-mail */
	.page-contacts__form-item:nth-child(1) {
	    flex-basis: 100%;
	    padding-right: 0rem;
	} 
	.page-contacts__form-item:nth-child(2) {
		flex-basis: 100%;
	    padding-left: 0rem;
	}	 
	/* about-us */ 
	.about-us__work-area {
		flex-wrap: wrap;
	}
	.about-us__info {
		flex-basis: 100%;
	    text-align: right;
	    padding-right: 0rem;
	}
	.about-us__advantage {
		flex-basis: 100%;
	    text-align: left;
	    padding-left: 0rem;
	}
	.about-us__text {
		margin-bottom: 5.1rem;
	}	
	/* team-members */ 
	.team-members__wrap {
		flex-wrap: wrap;
	}	
	.team-members__column {
	    flex-basis: 100%;
	}	
	.team-members__contact-block {
		padding: 2.1rem 2.1rem 2.2rem 2.1rem;
	}	
	.contact-button {
		padding: 1.3rem 4.2rem 1.4rem 6rem;
		margin-top: 2rem;
		margin-left: calc(50% - 8.75rem);
	}
	.contact-button:after {
		left: 2.7rem;
    	top: 2.2rem;
	}
	.team-members__contact-wrap {
		flex-wrap: wrap;
	}
	.team-members__contact-text {
		flex-basis: 100%;
	}
	.team-members__contact-button {
		flex-basis: 100%;
	}
	/* footer */ 
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__column {
		flex-basis: 100%;
	}
	.footer__main-block {
	    padding-bottom: 1.5rem;
	}
	.footer__column {
		padding-bottom: 5rem;
	}
	.footer__column:nth-child(3), .footer__column:nth-child(4) {
		flex-basis: 50%;
	}
}
@media (min-width: 768px) {
	.container {
	    max-width: 720px;
	    width: 100%;
	}
	/* header */ 
	.header__menu {
		display: block;
	}	
	.header__menu-list {
		padding-right: 4rem;
	}
	.header__item-link {
	    margin-left: 24px;
	}	
	/* layer-slider */ 
	.control-arrows__item-left {
		margin-left: -4.5rem;
	}
	.control-arrows__item-right {
		margin-right: -4.5rem;
	}
	/* sub-slider */ 
	.sub-slaider__sub-title {
	    padding-right: 7rem;
    	padding-left: 7rem;
	}
	.sub-slaider__list-item {
	    flex-basis: 50%;
	}	
	.sub-slaider__block-top-img {
		width: 100%;
	}
	.sub-slaider__block-title {
		padding-left: 6%;
	}
	/* send-us-mail */
	.page-contacts__form-item:nth-child(1) {
	    flex-basis: 50%;
	    padding-right: 0.6rem;
	} 
	.page-contacts__form-item:nth-child(2) {
		flex-basis: 50%;
	    padding-left: 0.6rem;
	}	 
	/* about-us */ 
	.about-us__work-area {
		flex-wrap: wrap;
	}
	.about-us__info {
		flex-basis: 100%;
	    text-align: right;
	    padding-right: 0rem;
	}
	.about-us__advantage {
		flex-basis: 100%;
	    text-align: left;
	    padding-left: 0rem;
	}
	.about-us__text {
		margin-bottom: 5.1rem;
	}	
	/* team-members */ 
	.team-members__wrap {
		flex-wrap: wrap;
	}	
	.team-members__column {
	    flex-basis: 100%;
	}	
	.team-members__contact-block {
		padding: 2.1rem 2.1rem 2.2rem 2.1rem;
	}	
	.contact-button {
		padding: 1.3rem 4.2rem 1.4rem 6rem;
		margin-top: 2rem;
		margin-left: calc(50% - 8.75rem);
	}
	.contact-button:after {
		left: 2.7rem;
    	top: 2.2rem;
	}
	.team-members__contact-wrap {
		flex-wrap: wrap;
	}
	.team-members__contact-text {
		flex-basis: 100%;
	}
	.team-members__contact-button {
		flex-basis: 100%;
	}
	/* footer */ 
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__column {
		flex-basis: 100%;
	}
	.footer__main-block {
	    padding-bottom: 1.5rem;
	}
	.footer__column {
		padding-bottom: 5rem;
	}
	.footer__column:nth-child(3), .footer__column:nth-child(4) {
		flex-basis: 50%;
	} 
}
@media (min-width: 992px) {
	.container {
	    max-width: 960px;
	    width: 100%;
	}
	/* header */ 
	.header__menu {
		display: block;
	}	
	.header__menu-list {
		padding-right: 4rem;
	}
	.header__item-link {
	    margin-left: 24px;
	}	
	/* layer-slider */
	.control-arrows__item-left {
		margin-left: -4.1rem;
	}
	.control-arrows__item-right {
		margin-right: -4.1rem;
	}		 
	/* sub-slider */ 
	/* send-us-mail */  
	/* about-us */
	.about-us__work-area {
		flex-wrap: nowrap;
	}
	.about-us__info {
		flex-basis: 50%;
	    text-align: right;
	    padding-right: 2.5rem;
	}
	.about-us__advantage {
		flex-basis: 50%;
	    text-align: left;
	    padding-left: 2.5rem;
	}
	.about-us__text {
		margin-bottom: 5.1rem;
	}	 
	/* team-members */
	.team-members__wrap {
		flex-wrap: nowrap;
	}	
	.team-members__column {
	    flex-basis: 50%;
	}	
	.team-members__contact-block {
		padding: 2.1rem 3.1rem 2.2rem 2.9rem;
	}	
	.contact-button {
		padding: 1.2rem 4.2rem 1.3rem 6rem;
		margin-top: 0;
		margin-left: 0;

	}
	.contact-button:after {
		left: calc(20% - 0.75rem);
    	top: calc(50% - 0.4rem);
	}
	.team-members__contact-wrap {
		flex-wrap: nowrap;
	}
	.team-members__contact-text {
		flex-basis: auto;
	}
	.team-members__contact-button {
		text-align: right;
		flex-basis: 33%;
	}	 
	/* footer */ 
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__column {
		flex-basis: 50%;
	}
	.footer__main-block {
	    padding-bottom: 1.5rem;
	}
	.footer__column {
		padding-bottom: 5rem;
	}	
}
@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
	/* header */ 	
	.header__menu {
		display: block;
	}	
	/* layer-slider */
	.control-arrows__item-left {
		margin-left: -8.9rem;
	}
	.control-arrows__item-right {
		margin-right: -8.9rem;
	}	 
	/* sub-slider */ 
	.sub-slaider__sub-title {
	    padding-right: 15.5rem;
    	padding-left: 15.5rem;
	}
	.sub-slaider__list-item {
	    flex-basis: 25%;
	}
	.sub-slaider__block-top-img {
		max-width: 100%;
	}
	.sub-slaider__block-title {
		padding-left: 0;
	}
	/* send-us-mail */
	.page-contacts__form-item:nth-child(1) {
	    flex-basis: 50%;
	    padding-right: 0.6rem;
	} 
	.page-contacts__form-item:nth-child(2) {
		flex-basis: 50%;
	    padding-left: 0.6rem;
	}
	/* about-us */ 
	.about-us__work-area {
		flex-wrap: nowrap;
	}
	.about-us__info {
		flex-basis: 50%;
	    text-align: right;
	    padding-right: 2.5rem;
	}
	.about-us__advantage {
		flex-basis: 50%;
	    text-align: left;
	    padding-left: 2.5rem;
	}
	/* team-members */ 
	.team-members__wrap {
		flex-wrap: nowrap;
	}
	.team-members__column {
	    flex-basis: 50%;
	}
	.team-members__contact-block {
		padding: 2.1rem 3.1rem 2.2rem 2.9rem;
	}
	.contact-button {
		padding: 1.3rem 4.2rem 1.4rem 6rem;
		margin-top: 0;
		margin-left: 0;
	}
	.contact-button:after {
		left: calc(20% - 0.75rem);
    	top: calc(50% - 0.4rem)
	}
	.team-members__contact-wrap {
		flex-wrap: nowrap;
	}
	.team-members__contact-text {
		flex-basis: auto;
	}
	.team-members__contact-button {
		flex-basis: 30%;
	}
	/* footer */ 
	.footer__wrap {
		flex-wrap: nowrap;
	}
	.footer__column {
		flex-basis: 25%;
	}
	.footer__main-block {
	    padding-bottom: 6.5rem;
	}
	.footer__column {
		padding-bottom: 0;		
	}
	.footer__column:nth-child(3), .footer__column:nth-child(4) {
		flex-basis: 25%;
	}	
}     